
.blockTasks{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-task::-webkit-scrollbar {
  width: 5px; 
  height: 20px; 
}

.container-task::-webkit-scrollbar-thumb {
  background-color: #00b700;    
  border-radius: 100px;   
  height: 20px;   
}

.container-task {
  padding: 1rem;
  width: 60%;
  height: 100%;     
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  color: #ffffff;
  gap: 20px;
}
